:root{
    --cor-background-color: rgb(248, 213, 168);
    --cor-texto-color: #ffffff;
    --cor-titulo-color: #000000;
    --cor-blocos-color: #000000;
    --cor-container-color: #000000;
    --cor-header-background-color: #000000;
    --cor-header-items-color: #00AFEF;
    --cor-footer-background-color: #000000;
    --cor-footer-items-color: #00AFEF;
    --cor-hover-header: #ffffff;
    --cor-bordas: #eb0000;
    --cor-hover-produtos: #00AFEF;
    --cor-body: #cec8c8;
    
}