*,*::after,*::before{box-sizing: border-box;}
        

body::before { /* Padrão Body */
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-background-color);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    filter: blur(15px); 
    z-index: -1;
}

.bloco-produto{
    border-radius: 15px;
    background-color: var(--cor-background-login1);
}
.bloco-produto img{
    border-radius: 10%;
}
.card-product {
    max-width: 250px;
    margin: auto;
    background-color: var(--cor-background-login1);
    border: 3px solid #ffffff;
    border-radius: 10%;
}
.other-products a {
    text-decoration: none;
    color: #000000;
}
.card-product:hover{
    background-color: var(--cor-background-login1);
    color: #ffffff;
}
.card-product:hover .preco{
    color:#ffffff !important;
}
.other-products{
    border-radius: 5px;
}
.descricao{
    background-color: var(--cor-background-login1);
}
.btn-comprar:hover{
    background-color: #ffffff !important;;
    color: var(--cor-background-login2) !important;
}
.btn-comprar{
    background-color: var(--cor-background-login2) !important;
    border: 2px solid #ffffff !important;
}
.img-other{
    border-radius: 10%;
}
