*,*::after,*::before{box-sizing: border-box;}
        

body::before { /* Padrão Body */
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/background-dragons.svg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    filter: blur(15px); 
    z-index: -1;
}

.produto {
    border: 1px solid #ffffff;
    height: 20%;
    margin: 2%;
    text-align: center;
    border-radius: 5px;
    
}
.produto img {
    width: 100%;
    height: auto;
}
#produtos-container{
    overflow-y: auto;
    
}
#produtos{
    border-radius: 5px;
    background-color: #011f38;
}

.bloco-dos-produtos{
    padding: 5%;
}
.produto h3 {
    color: aliceblue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.produto p{
    color: aqua;
}
.filtros{
    border-radius: 5px;
    background-color: #011f38;
}
.produto a{
    text-decoration: none;
}