@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


#texto{
    color: black;
}

.ct-table .table tbody tr td img.product{
    max-width: 10vw;
    height: auto;
}

