@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body::before { /* Padrão Body */
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/background-dragons.svg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    filter: blur(15px); 
    z-index: -1;
}

.organizar{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 28vw;
    padding-right: 28vw;
}
.titulo{
    font-size: clamp(40px, 2vh , 90px);
    font-family: Montserrat, sans-serif;
    color: rgba(255, 255, 255, 0.938);
}
div#principal{
    height: 38em;
    width: 50em;
    background-color: #0b2475;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #f3f5f4;
}
div#rastreamento{
    display: flex;
    flex-direction: row;
    align-items: center;
}
div#codigo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img#entrega{
    width: 18em;
    height: 18em;
}
div#texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}
h2#titulo2{
    font-size: clamp(25px, 2vh , 40px);
    font-family: Montserrat, sans-serif;
    color: rgba(255, 255, 255, 0.938);
    padding-left: 5em;
}
p#aleatorio{
    font-size: clamp(18px, 2vh , 30px);
    font-family: Montserrat, sans-serif;
    color: rgba(255, 255, 255, 0.938);
}
div#lista{
    display: flex;
    align-items: center;
    gap: none;
}
img#check{
    width: 10em;
    height: 10em;
}
ul#l{
    font-family: Montserrat, sans-serif;
    color: rgba(255, 255, 255, 0.938);
    list-style-type: none;
}
li{
    font-size: clamp(12px, 2vh , 45px);
}
div#lista1{
    padding-right: 5em;
}
button#b1{
    height: 5em;
    width: 30em;
    background-color: rgb(0, 174, 255);
    border-radius: 0.75em;
    color: white;
    font-size: clamp(10px,2vh,25px);
}

button#b1:hover{
    background-color:  #32e994;
}